*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: var(--color-secondary);
    background: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
